{
  "env": {
    "node": true,
    "es6": true
  },
  
  "globals": {
    //"log": "writable",
    "log": "readonly"
  },
  
  "rules": {
    
    // Can include existing rules that "just work":
    "no-undef": "error",
    
  }
}
